body {
  background-color: whitesmoke;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.display {
    align-items: center;
    background-color: whitesmoke;    
    display: flex;
    flex-direction: column;
    height: 10rem;
    justify-content: center;
    margin: auto;
    width: 16rem;
}

.display-time {
    border: none;
    color: #222;
    font-size: 24px;
    font-weight: 600;
    outline-width: 0;
    text-align: center;
}

.display-label {
    border: none;
    color: #999;
    font-size: 12px;
    font-weight: 600;
    margin: 0 2.3rem;
    text-align: center;
}

.display-input-group {
    padding: 0.2rem;
}

.display-time.display-hours {    
    border-right: none;
}

.display-time.display-minutes {    
    border-left: none;
    border-right: none;
}

.display-time.display-seconds {    
    border-left: none;
    border-right: none;
}

.display-time.display-milliseconds {    
    border-left: none;
}

.display-time.display-separator {  
    background: white;  
    border-left: none;
    border-right: none;
    padding-top: 0.59rem;
}

.display-time.form-control {
     font-size: 28px;
}

.display-countdown-time {
    color: #0082F7;
    font-size: 36px;
    font-weight: 600;
}

.display-countdown {
    align-items: center;
    background-color: whitesmoke;        
    display: flex;
    flex-direction: column;
    height: 10rem;
    justify-content: center;
    margin: auto;
    width: 16rem;
}

.display-countdown-label {
    border: none;
    color: #999;
    font-size: 12px;
    font-weight: 600;
    margin: 0 1.2rem;
    text-align: center;
}

.timer {
  align-items: center;
  border: #333 solid 0.2rem;
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 16.5rem;
}

.controls {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;    
  width: 16rem;    
}

.controls > button {
  border-radius: 0;
  width: 100%;
}
